<div class="panel panel-default">
	<div class="panel-heading">Person Lookup</div>
	<div class="panel-body">		
		<form class="form-inline">
			<div class="form-group">
				<label for="nwuid">Name</label> 
				<input type="text" class="form-control" id="nwuid" placeholder="NWU ID">
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
	<div class="panel-footer" ng-if="error || userdetails">
		<div class="bg-danger"  ng-if="error">{{error}}</div>
		<div class="bg-success" ng-if="userdetails != null">
			<h3>{{userdetails.name}} {{userdetails.surname}} </h3>
			<h3>Email:  {{userdetails.email}} </h3>
		</div>
	</div>
</div>
