<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>backbone/home.jsp</welcome-file>
	</welcome-file-list>

	<!-- Activate Rest Services -->
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- Define a Security Constraint on this Application -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Backbone</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user_role</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/shared/login/login.jsp</form-login-page>
			<form-error-page>/shared/login/loginerror.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>
      The role a user needs to be allowed to log in to the application
    </description>
		<role-name>user_role</role-name>
	</security-role>

</web-app>
